/* General */
.bordes-fragmento {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.fondo-superposicion {
    -fx-background-color: #FCFCFC;
}

.fondo-basico {
    -fx-background-color: #FFFFFF;
}
/* -------------- */

/* Contenedor Principal */
.main {
	-fx-pref-width: 1200.0;
    -fx-pref-height: 800.0;
    -fx-min-width: 900.0;
    -fx-min-height: 600.0;
    -fx-max-width: 1300.0;
    -fx-max-height: 1000.0;
    -fx-background-color: linear-gradient(to bottom right, #47b39d, #ffc153);
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
}
/* -------------- */


/* Menú */
.lista-botones-menu {
	-fx-pref-width: 200;
    -fx-pref-height: 600;
    -fx-min-width: 200;
    -fx-min-height: 400;
    -fx-max-width: 200;
    -fx-max-height: 600;
    /*-fx-background-color: #EBE8F9;  */
    /*-fx-background-color: linear-gradient(to right, #11998e, #57cabe);*/
    /*-fx-background-color: #ffffff;*/
    -fx-background-color: rgba(255, 255, 255, 0.6);
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);  Elevacion*/
    -fx-background-radius: 20 0 60 70;
    -fx-border-radius: 20 0 60 70;
}

.boton-menu {
    -fx-text-fill: #000000;
    -fx-font: 1.5em Arial;
	-fx-padding: 0 0 0 35;
    -fx-pref-width: 200;
    -fx-pref-height: 80;
    -fx-min-width: 200;
    -fx-min-height: 80;
    -fx-max-width: 200;
    -fx-max-height: 80;
    -fx-graphic-text-gap: 16;
}

.boton-menu-normal {
    -fx-background-color: TRANSPARENT;
}

.boton-menu-pulsado {
    -fx-background-color: #ffc153;
}

.boton-menu.apagar {
    -fx-background-color: #eb6b56;
    -fx-pref-width: 200;
    -fx-pref-height: 85;
    -fx-min-width: 200;
    -fx-min-height: 85;
    -fx-max-width: 200;
    -fx-max-height: 85;
    -fx-background-radius: 0 0 0 70;
    -fx-border-radius: 0 0 0 70;
}

.contenedor-dialog-cerrar {
    -fx-background-color: #00000020;
}

.titulo-dialog-cerrar {
    -fx-fill: #eb6b56;
    -fx-font-family: 'Cambria';
    -fx-font-size: 2em;
}

.mensaje-dialog-cerrar {
    -fx-fill: #353535;
    -fx-font-family: 'Century';
    -fx-font-size: 1.5em;
}

.cancel-boton-dialog-cerrar{
    -jfx-button-type: FLAT;
    -fx-font: 1.2em 'Britannic';
    -fx-text-alignment: center;
    -fx-text-fill: #eb6b56;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-color: #eb6b56;
}

.accept-boton-dialog-cerrar{
    -jfx-button-type: FLAT;
    -fx-font: 1.2em 'Britannic';
    -fx-text-alignment: center;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-color: #eb6b56;
    -fx-border-color: #eb6b56;
}
/* -------------- */


/* Contenedor del fragmento central */
.contenedor-fragmento {
    -fx-translate-x: 200.0;
    -fx-pref-width: 600;
    -fx-pref-height: 600;
    -fx-min-width: 600;
    -fx-min-height: 400;
    -fx-max-width: 600;
    -fx-max-height: 600;
}
/* -------------- */

/* Spinner de carga */
.spinner-main .arc{
    -fx-stroke: #eb6b56;
}

.texto-spinner {
    -fx-font-family: 'Arial';
    -fx-font-size: 16 ;
}
/* -------------- */

/* Plugins */
.fondo-contenedores-plugins {
    -fx-background-color: transparent;
}

.contenedor-vertical-plugins {
    -fx-padding: 10 25 30 25;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.layout-detalle-plugin-base {
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);*/
    /*-fx-background-color: #000000;*/
    -fx-background-color: transparent;
    -fx-border-insets: 30 15 5 15;
    -fx-background-insets: 30 15 5 15;
}

.texto-nombre-plugin {
    -fx-fill: #ffffff;
    -fx-font: 2em Arial;
    -fx-font-weight: bold;
}

.texto-version-plugin {
    -fx-fill: #ffffff;
    -fx-font: 1.5em Arial;
}

.boton-ejecutar-plugin {
    -fx-background-color: transparent;
    -fx-border-color: rgba(255, 255, 255, 0.8);
    -fx-text-fill: #ffffff;
    -fx-border-width: 1;
    -fx-background-insets: 0;
}

.boton-ir-tienda {
    -jfx-button-type: RAISED;
    -fx-font: 1.2em 'Britannic';
    -fx-text-alignment: center;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-color: #eb6b56;
    -fx-border-color: #eb6b56;
}

.texto-ir-tienda {
    -fx-fill: #eb6b56;
    -fx-font: 2.5em 'Adobe Devanagari';
    -fx-font-weight: bold;
}
/* -------------- */

/* Ajustes */
.texto-ajustes {
    -fx-fill: #3A3A3A;
    /*-fx-font: 1.4em 'Fira Sans ExtraBold';*/
    -fx-font: 1.6em 'Josefin Sans Regular';
}

.input-ajustes {
    /*-fx-font: 1.4em 'Fira Sans ExtraBold';*/
    -fx-font: 1.2em 'Josefin Sans Regular';
}

.contenedor-ajuste {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 0);
    -fx-background-color: #ffffff;
}

.boton-elegir-dir-plugins {
    -fx-background-color: #eb6b56;   
    -fx-fill: #ffffff;
    -fx-font: bold 1em 'Arial';
}

.boton-aplicar-cambios {
    -fx-background-color: #47b39d;   
    -fx-text-fill: #ffffff;
    -fx-font: bold 1.2em 'Arial';
}
/* -------------- */

/* Login */
.fondo-contenedor-login {
    -fx-background-color: rgba(255,255,255,0.5);
}

.contenedor-login {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 20, 0, 4, 4);
}

.label-titulo-login {
    -fx-font-size: 3em 'Cambria';
    -fx-font-weight: bold;
    -fx-text-fill: #eb6b56;
}

.label-subtitulo-login {
    -fx-font-size: 1.2em 'Cambria';
    -fx-text-fill: #7f7f7f;
}

.inputs-login {
    -fx-font-size: 1.3em;
    -fx-prompt-text-size: 1.5em;
}

.boton-loguearse {
    -jfx-button-type: FLAT;
    -fx-background-color: #eb6b56;   
    -fx-text-fill: #fff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font: 1.5em 'Arial';
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-padding: 15;
}

/* -------------- */